# Week 2. Day 1. Exercises from Chapter 4 of FSStDS. 
## Fundamentals of Social Data Science. MT 2022

Within your study pod discuss the following questions. Please submit an individual assignment by 12:30pm Tuesday, October 18, 2022 on Canvas.

# Exercise 1. Creating a DataFrame from multiple JSON files

There are nine pages of search results for Oxford from OMDB (as of last year; `omdb_Oxford_search_page_\*.json`). 

**Exercise 1a.** Create a single DataFrame from these 9 files.

**Exercise 1b.** Report on the oldest and most recent entry. 

- **Hint**. To read all files from a Path object with a wildcard use the 'glob' method, such as: `for path in data_dir.blog("omdb_Oxford*.json"): path.do_something()`

- **Challenge** - Note that shows that span years are written with the two years separated by `--`. So ensure that you split this and then consider these years when reporting the oldest and newest entries.

In [4]:
# Exercise 1a answer below here 
import pandas as pd
import json
from pathlib import Path 

def read_json(json_file: Path) -> pd.DataFrame:
    with open(json_file, 'r') as f:
        data = json.load(f)
    return pd.DataFrame(data["Search"])


data_dir = Path("../data/Week2Day1 - Exercsie Data for the data folder")
assert data_dir.exists()

# Read the files from json
df = pd.concat([read_json(f) for f in data_dir.glob("*omdb_Oxford_search_page_*.json")])
# Exercise 1a answer above here

,Title,Year,imdbID,Type,Poster
0,The Oxford Murders,2008,tt0488604,movie,https://m.media-amazon.com/images/M/MV5BMTUzMj...
1,A Chump at Oxford,1939,tt0032339,movie,https://m.media-amazon.com/images/M/MV5BMjA1Mj...
2,Oxford Blues,1984,tt0087866,movie,https://m.media-amazon.com/images/M/MV5BMTVjYj...
3,A Yank at Oxford,1938,tt0030989,movie,https://m.media-amazon.com/images/M/MV5BMzhjOG...
4,David Icke: Live at Oxford Union Debating Society,2008,tt2282755,movie,N/A
...,...,...,...,...,...
6,The Oxford Historical Pageant,1907,tt3662478,movie,N/A
7,President Fallieres at Oxford Circus,1908,tt3722954,movie,N/A
8,The Oxford and Cambridge Sports,1908,tt3884736,movie,N/A
9,Oxford and Cambridge Boat Race,1909,tt4055948,movie,N/A
0,Oxford and Cambridge Boat Race,1909,tt4161946,movie,N/A

In [8]:
# Exercise 1b answer below here 


# Exercise 1b answer above here

# Exercise 2. Navigate Reddit JSON 

Go to a page on reddit and then replace www.reddit with api.reddit. This will then give the page as JSON. Do this for a specific subreddit of interest (such as cats, cryptocurrency, mediasynthesis, ukpolitics, etc...). 

This json will likely only have 25-26 entries. Normalise by data so that each story has a single line. This will have many, many columns. One of these columns will be the title of the headline and one will be the URL. 

- **Exercise 2a**. Find these two columns and then create a smaller DataFrame that just has these columns as well as the one for upvote score (`ups`).  

- **Exercise 2b**. What are the most common words across all titles? Does it matter if you use lower case and remove punctuation as we did last week? 

- **Exercise 2c**. What domain names are the most common?

> **Hint**: If you aren't having luck with saving your own JSON, you can use the old `environment.json` that is appended with the data. 

> **Hint**: Parsing domain names can be a nuisance. Here is a a small snippet that can help:

In [4]:
# See: https://docs.python.org/3/library/urllib.parse.html
# For example:
from urllib.parse import urlparse
result = urlparse("http://www.nytimes.com/somestory.html")
print(result) # Which item is the domain name?

ParseResult(scheme='http', netloc='www.nytimes.com', path='/somestory.html', params='', query='', fragment='')

In [ ]:
# Exercise 2a Answer below here 


# Exercise 2a Answer above here

In [ ]:
# Exercise 2b Answer below here 


# Exercise 2b Answer above here

In [5]:
# Exercise 2c Answer below here 


# Exercise 2c Answer above here

# Exercise 3. The love-hate relationship with DIKW

As mentioned in the chapter, the Wikipedia entry for data had DIKW in the article, then it was removed, then it reappared! I think it is still there now. I did not do the editing of this. 

With the data export of the Wikipedia page on data (`Wikipedia - data - Special export - 2022-10-17_10_24_15.xml`): 

- **Exercise 3a**. Create a DataFrame where each revision of the Wikipedia article in the export is given its own row. 
- **Exercise 3b**. Search for the first time DIKW was mentioned and the last time it was mentioned. Try to find the gap? When did it appear? 

> **Hint**: Using `xmltodict` might be helpful for wrangling the XML data, but it might also make life complicated. Explore the data both through a text editor (or browser) and through code to get a sense of it. 

> **Hint**: It is admittedly a little easier to do this if you make use of time in your DataFrame. We do not cover that much until Chapter 10, but feel free to look ahead. You can still sort by revisionID and then just browse the data yourself. This will end up being one of those tasks that's not easy but gets easier with more skills of abstraction.

In [ ]:
# Exercise 3a Answer below here


# EXercise 3a Answer above here

In [6]:
# Exercise 3b Answer below here


# EXercise 3b Answer above here